html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-image: url("./sourse/image/background1.svg"), url("./sourse/image/background2.svg");
    background-position: top left, right top 1300px;
    background-repeat: no-repeat, no-repeat;
    overflow: auto;
}

.header {
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.blockMenu {
    display: flex;
    margin-left: 93px;
    height: 100%;
    max-width: 600px;
}

.itemMenu {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #928A97;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}

.itemMenu:hover {
    cursor: pointer;
    text-decoration: underline;
}

.itemMenuActive {
    color: #F44336;
    background-image: url("./sourse/image/activePoint.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    height: 100vh;
    margin-left: 110px;
}

.mainBlockPresentation {
    margin: auto 0;
    padding-top: 150px;
}

.fullName {
    font-size: 38px;
    font-weight: 800;
    -webkit-text-stroke: 1px #ffffff;
    margin-bottom: 15px;
}

.vacancy {
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.socialSite {
    display: flex;
    gap: 18px;
    margin-top: 30px;
}

.socialSite img {
    width: 33px;
}

.socialSite > a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.scroll {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    height: 30px;
}

.scrollBlock {
    width: 100%;
}

.aboutMe {
    height: 100vh;
    margin-left: 110px;
    margin-right: 110px;
}

.mainBlockAboutMe {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: -34px;
    gap: 50px;
}

.myPhoto {
    max-width: 475px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    border-radius: 10px;
}

.framePhoto {
    position: relative;
}

.arrowLeft {
    position: absolute;
    display: flex;
    top: 50%;
    left: 0;
    transform: rotate(180deg);
    transition: margin-left 0.3s;
}

.arrowRight {
    position: absolute;
    display: flex;
    top: 50%;
    right: 0;
    transition: margin-right 0.3s;
}

.arrowLeft:hover,
.arrowRight:hover {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.titleBlock {
    color: #F44336;
    font-size: 32px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 32px;
}

.descriptionBlock {
    color: #000C24;
    font-size: 24px;
    font-weight: 400;
    max-width: 617px;
    margin-bottom: 48px;
}

.btnDownload {
    background-color: #000C24;
    color: white;
    font-family: 'Neucha', cursive;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    padding: 16px 24px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btnDownload:hover {
    cursor: pointer;
    background-color: #F44336;
}

.scrollAboutMe {
    height: 30px;
    margin-top: -30px;
}

.subtitle {
    color: #F44336;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skillsItem {
    font-weight: 500;
    font-size: 14px;
    color: white;
    list-style-type: none;
    padding: 8px 12px;
    background-color: #928A97;
    border-radius: 4px;
}

.links {
    display: flex;
    align-items: center;
    margin-top: 48px;
    gap: 8px;
}

.linkTo {
    width: 31px;
}

.countWorks {
    display: flex;
    height: 30px;
    gap: 8px;
    margin-top: 40px;
}

.workItem {
    display: flex;
    align-items: end;
    width: 100%;
    border-bottom: 4px solid #C4C4C4;
    color: #000C24;
    font-size: 14px;
    font-weight: 600;
    transition: padding-bottom 0.5s;
}

.workItem:hover {
    cursor: pointer;
    padding-bottom: 12px;
}

.workItemActive {
    border-bottom: 6px solid #000C24;
}

.blockConnect {
    display: flex;
    margin-bottom: -215px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background: url("./sourse/image/backgroundConnect.svg") no-repeat;
    background-size: cover;
}

.blockConnectMain {
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin: 70px 110px 295px;
}

.messageFromMe {
    font-size: 38px;
    font-weight: 600;
    color: #000C24;
    width: 100%;
    margin-left: 38px;
    margin-right: 32px;
}

.inputs {
    width: 100%;
    margin-right: 38px;
    margin-left: 32px;
}

.inputMessage,
.inputEmail,
.inputName {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
    color: #928A97;
    padding: 9px;
    font-family: 'Neucha', cursive;
    border: 1px solid #000;
    height: 52px;
}

.inputMessage {
    resize: none;
    height: 125px;
}

.btnSendMsg {
    padding: 16px 24px;
    background-color: #000C24;
    color: white;
    border-radius: 4px;
    transition: transform 0.3s;

}

.btnSendMsg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btnSendMsgDisabled {
    background-color: #928A97;
}

.btnSendMsgDisabled:hover {
    transform: scale(1);
    cursor: auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: 215px;
    background-color: #000C24;
    text-align: center;
    background-image: url("./sourse/image/backgroundFooter.svg");
    background-repeat: no-repeat;
    background-position: right 30px top;
}

.contentFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yearRelease {
    display: flex;
    margin-top: 28px;
    align-items: center;
    gap: 8px;
}

@media (min-width: 1400px) {
    .container {
        background-size: 100%;
    }
}

@media (max-width: 768px) {
    .container {
        background-size: 190%;
    }

    .blockMenu {
        margin-left: 0;
        height: 100%;
        max-width: 100%;
    }

    .itemMenu {
        padding-right: 0;
    }

    .presentation {
        display: flex;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
    }

    .aboutMe {
        height: 100vh;
        margin-left: 40px;
        margin-right: 40px;
    }

    .mainBlockAboutMe {
        flex-direction: column;
        height: 100%;
        gap: 20px;
        padding-bottom: 50px;
        margin-bottom: -70px;
    }

    .scroll {
        margin-bottom: 60px;
    }

    .myPhoto {
        max-width: 300px;
        margin-top: 5px;
    }

    .titleBlock {
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .descriptionBlock {
        font-size: 20px;
        margin-bottom: 20px;
        height: 150px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.72);
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    .descriptionBlock:hover {
        height: auto;
        overflow: visible;
        background-color: white;
        display: inline-flex;
    }

    .btnDownload {
        padding: 16px 24px;
    }

    .textBlock {
        max-width: 400px;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .skills {
        gap: 6px;
    }

    .links {
        margin-top: 15px;
        gap: 8px;
    }

    .countWorks {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .blockConnectMain {
        flex-wrap: wrap-reverse;
        margin: 30px 0 255px;
    }

    .messageFromMe {
        font-size: 22px;
    }

    .inputMessage,
    .inputEmail,
    .inputName {
        margin-bottom: 16px;
    }

    .inputMessage {
        height: 80px;
    }

    .btnSendMsg {
        margin-top: -20px;
    }

    .footer {
        background-image: none;
    }

}
